<% include ../head %>
<nav><ul>
<li><a href = '/entries/update/<%= id %>'>Update Post</a></li>
<br>
<li><a href = '/entries/index_delete/<%= id %>'>Delete Post</a></li>
</ul></nav>
<br>
<h1><%= entry.slug %></h1>
<p><%= entry.body %></p>

<% include ../footer %>
